<div class="sort-options">
  <h2 id="rating-title">Ratings</h2>
  <form action="">
    <div class="stars-rating">
      <input type="checkbox" id="five-star" name="five-star" class="custom-checkbox" />
      <label for="five-star">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </label><br />
    </div>
    <div class="stars-rating">
      <input type="checkbox" id="four-star" name="four-star" class="custom-checkbox"/>
      <label for="four-star">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        & UP
      </label><br />
    </div>
    <div class="stars-rating">
      <input type="checkbox" id="three-star" name="three-star" class="custom-checkbox"/>
      <label for="three-star">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        & UP
      </label><br />
    </div>
    <div class="stars-rating">
      <input type="checkbox" id="two-star" name="two-star" class="custom-checkbox"/>
      <label for="two-star">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        & UP
      </label><br />
    </div>
    <div class="stars-rating">
      <input type="checkbox" id="one-star" name="one-star" class="custom-checkbox"/>
      <label for="one-star">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        & UP
      </label><br />
    </div>

    <input type="submit" value="Apply" id="apply-button" />
  </form>
</div>