<header class="top-header">
  <img src="./images/LOGO-WT.png" alt="eggy-logo" id="eggy-logo" />

  <div class="whole-search">
    <div class="search">
      <form class="search-form">
        <input type="text" placeholder="Search..." class="search-input" />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="top-profile" id="top-profile">
    <img src="./images/profile-pic.jpg" alt="profile-pic" id="profile-pic" />
    <div id="options" class="options">
      <button onclick="showSignup()" id="go-profile">Sign Up</button>
      <button onclick="showLogIn()" id="logout">Log-in</button>
    </div>
  </div>
</header>